<div class="page-header" style="color: #2c3e50;">
	<h1>About us</h1> 
	<small>Pinteresting is part of Kevin Kantz's Programming Portfolio!</small>
</div>
<div>
	<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="https://www.myyouq.com/images/Web_marketing/Kevin_founder_photo.jpg" alt="Kevin Kantz">
      </a>
    </div>
    <div class="media-body" style="color: #2c3e50;">
      <h4 class="media-heading">Kevin Kantz, MBA, CSPO</h4>
      <p>Kevin Kantz
Founder CEO

Kevin Kantz has deep experience in product | internet | technology | subscription-based B2B information & best practices businesses.  In his most recent role as Founder of youQ, Inc. Kevin sought to solve the most pressing challenge in digital publishing: Reader Loyalty.<br><br>

Mr. Kantz founded SearchBase.com in 1995, innovating numerous job search website features that are standard today (ex: interactive resume builder, Word .doc upload and pdf conversion). SearchBase was among the first commercial, database-driven websites in the world, A SaaS model, SearchBase was focused on connecting Retained Recruiters and Executive Candidates in the first such service ever implemented on the Internet.<br><br>

Mr. Kantz later served as CIO / CTO of the Governance Institute.   This subscription-based, best practices research and conferences company supporting Boards of Hospitals became a B2B digital leader in the space under Mr. Kantz’s vision. <br><br>

Mr. Kantz developed his sales skills as a Director at the Corporate Executive Board (NYSE: CEB), selling research-based, subscription Advisory Services to senior financial executives in Fortune 1000 companies.<br><br>  

As a Sales Director at Everest Group, Mr. Kantz broadened his domain understanding to the outsourcing and offshoring world, leveraging both custom research and subscription-based research services. 

<br><br>Finally, Mr. Kantz served as a Director with The Hackett Group (NSDQ: HCKT) where he had an opportunity to launch a research & professional services supported SaaS solution in the Finance and Procurement spaces for Fortune 1000 companies.</p>
    </div>
  </li>
</ul>